.poem h1, .poem .article-style {
    text-align: center;
    font-family: Cardo, sans-serif;
}

.poem h1[itemprop="name"] {
    font-size: 3em;
}

.poem h1[itemprop="author"] {
    font-size: 1em;
}

.poem-title {
    font-size: 3em;
}

.poem .article-style {
    margin-top: 2em;
}