.social .fa-envelope {
    color: #ea4435;
}

.social .ai-cv {
    color: gray;
}

.social .fa-github {
    color:  #24292e;
}

.social .fa-orcid {
    color: #a6ce39;
}

.social .fa-linkedin {
    color: #0866c2;
}

.social .ai-google-scholar {
    color: #3367bd;
}

.publication .reproducible figure {
    margin: 0px;
    float: left;
}

.publication .reproducible img {
    margin: 0px;
}

.publication .cite pre {
    background-color: white;
    padding: 0px;
}


.double-border {
    border-color: black;
    border-width: medium;
    border-style: solid hidden solid hidden;
}
