$sans-serif-article: 'Nunito', sans-serif;
$sans-serif-article-2: 'Varela Round', sans-serif;

$accent-color: #000000;
$accent-secondary: #000000;
$nav-height: 50px;

$light-gray: transparentize($base-font-color, .6);
