<header class="site-header">
    <nav class="navbar navbar-default navbar-fixed-top"  id="top-navbar">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>


            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="category-link" id="aviral-link"><a href="/">aviral <span class="sr-only"></span></a></li>
                    <li class="category-link" id="programming-link"><a href="/programming">programming <span class="sr-only"></span></a></li>
                    <li class="category-link" id="music-link"><a href="/music">violin <span class="sr-only"></span></a></li>
                    <li class="category-link" id="origami-link"><a href="/origami">origami <span class="sr-only"></span></a></li>
                    <li class="category-link" id="linux-link"><a href="/linux">linux <span class="sr-only"></span></a></li>
                    <li class="category-link" id="life-link"><a href="/life">life <span class="sr-only"></span></a></li>
                    <li class="category-link" id="fun-link"><a href="/fun">fun <span class="sr-only"></span></a></li>
<!--                     <li class="category-link" id="project-link"><a href="/fun">fun <span class="sr-only"></span></a></li>
                    <li class="category-link" id="poem-link"><a href="/fun">fun <span class="sr-only"></span></a></li>
 -->                </ul>
            </div><!-- /.navbar-collapse -->


        </div>
    </nav>
</header>
