<div id="social-links">
    <ul>
        <li><a title="Aviral on Github" href="http://github.com/aviralg/"><i class="fa fa-github"></i></a></li>
        <li><a title="Aviral on LinkedIn" href=""><i class="fa fa-linkedin"></i></a></li>
        <li><a title="Aviral on YouTube" href=""><i class="fa fa-youtube"></i></a></li>
        <li><a title="Aviral on Google+" href=""><i class="fa fa-google-plus"></i></a></li>
        <li><a title="Aviral on Facebook" href=""><i class="fa fa-facebook"></i></a></li>
        <li><a title="Aviral on Twitter" href=""><i class="fa fa-twitter"></i></a></li>
        <li><a title="RSS feed" id="rss" href="/atom.xml"><i class="fa fa-rss"></i></a></li>
    </ul>
</div>
