#categories {
    font-family: Cardo, sans-serif;
}

.category-name {
    text-align: center;
    font-size: 2em;
}

.category-item {
    text-align: center;
    border: none;
}

.category-desc {
    text-align: center;
    font-size: 0.75em;
    margin-top: 0px;
    margin-bottom: 20px;
}

.category-item {
    padding: 0px;
    font-size: 1.1em;
}

.category-item a:hover {
    text-decoration: none;
}

.category-item a:hover:after {
    content: "\f0c1";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    /* font-size: 18px; */
    /* padding-right: 0.5em; */
    padding-left: 0.5em;
    position: absolute;
    color: #DCDCDC;
    /* top: 10px; */
    /* left: 0; */
}