
@font-face {
    font-family: "CascadiaCode";
    src: url("../fonts/CascadiaCode.woff2") format('woff2');
    font-style: normal;
}

@font-face {
    font-family: "CascadiaCodePL";
    src: url("../fonts/CascadiaCodePL.woff2") format('woff2');
    font-style: normal;
}

@font-face {
    font-family: "CascadiaMono";
    src: url("../fonts/CascadiaMono.woff2") format('woff2');
    font-style: normal;
}

@font-face {
    font-family: "CascadiaMonoPL";
    src: url("../fonts/CascadiaMonoPL.woff2") format('woff2');
    font-style: normal;
}
