body {
    font-family: 'Cardo', serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

p {
    font-size: 1.2em;
    text-align: justify;
    text-justify: inter-word;
}

a {
    color: #930000;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: none;
    color: #2a6496;
}

.tag {
    float: right;
}

.tag span {
    font-family: 'CascadiaMono';
    margin-left: 5px;
}

.tag span::before {
    content: "#";
}

.social {
}

.social p {
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 5px;
    padding-bottom: 5px;
}

.social p a {
    margin-left: 10px;
    margin-right: 10px;
}
.name-title {
    font-size: 3rem;
    text-align: center;
}

.social .fa-envelope {
    color: #ea4435;
}

.social .ai-cv {
    color: gray;
}

.social .fa-github {
    color:  #24292e;
}

.social .ai-orcid {
    color: #a6ce39;
}

.social .fa-linkedin {
    color: #0866c2;
}

.social .ai-google-scholar {
    color: #3367bd;
}

.social .ai-dblp {
    color: #fbba00;
}

dl {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}
dt {
    width: 20%;
}
dd {
    margin-left: auto;
    width: 80%;
}
/*
          .publications dl {
            width: 100%;
            overflow: hidden;
            padding: 0;
            margin: 0
          }*/
.publications dt {
    width: 15%;
    font-size: 1.1rem;
}

.publications dt a {
    color: black;
    font-family: 'CascadiaMono';
}

.publications dd {
    width: 85%;
    font-size: 1rem;
}

.publications .info {
    font-family: 'CascadiaMono';
    font-size: 0.8rem;
    margin-top: 2px;
}

.underline {
    text-decoration: underline;
}

.softwares dt {
    font-size: 1.0rem;
    width:20%;
}

.softwares dd {
    width:80%;
    font-size: 0.9rem;
    text-align: justify;
}
.source-link {
    float: right;
}
pre.src {
    color: white;
    background: black;
    padding: 15px;
    border-radius: 10px;
    font-size: 1rem;
    font-family: 'CascadiaCodePL';
}

table {
    margin: auto;
}

#postamble {
    border-top: solid black;
    margin-top: 30px;
    padding: 5px;
    border-bottom: solid black;
}


table {
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    font-size: 1rem;
}

h2::before {
    content: "∙∙ ";
}
