#about {
    padding-top: 10px;
    padding-bottom: 0px;
}

.site-footer {
    padding: 0px;
}

#navbar-main {
    box-shadow: none;
    border-color: white;
}

.navbar-default .navbar-brand {
    color: black;
    font-size: 1.5em;
}

.navbar-default .navbar-brand:hover {
    color: black;
    transform: scale(1.2);
}

.navbar-default .navbar-nav > li > a {
    background-color: black;
    color: white;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
    color: #B71C1C;
    font-weight: bold;
}

a:hover {
    transition-property: background;
    transition-duration: 0.5s;

    -webkit-transition-property: background;
    -webkit-transition-duration: 0.5s;

    -moz-transition-property: background;
    -moz-transition-duration: 0.5s;

    -o-transition-property: background;
    -o-transition-duration: 0.5s;

    background-color: white;
    text-decoration: underline;
}

#profile ul.network-icon a:hover {
    background-color: white;
}

#about-content {
    text-align: justify;
    margin-top: 1.5em;
}

.dropdown-menu .nav-item  a {
    font-size: 1.5em;
}

.navbar-default .navbar-nav > li > a {
    background-color: white;
}

#blog-nav-link {
    color: #2196F3;
    border-bottom: solid white 5px;
}

#blog-nav-link:hover  {
    color: #2196F3;
    border-bottom: solid #2196F3 5px;
}

#origami-nav-link {
    color: #F44336;
    border-bottom: solid white 5px;
}

#origami-nav-link:hover  {
    color: #F44336;
    border-bottom: solid #F44336 5px;
}

#cv-nav-link {
    color: #FF9800;
}

#cv-nav-link:hover  {
    color: #FF9800;
    border-bottom: solid #FF9800 5px;
}

#publications-nav-link {
    color: #689F38;
    border-bottom: solid white 5px;
}

#publications-nav-link:hover  {
    color: #689F38;
    border-bottom: solid #689F38 5px;
}

#profile ul.network-icon {
    margin-bottom: 30px;
}

#profile ul.network-icon li {
    margin-right: 25px;
}

#profile ul.contact-icon {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 0px;
}

#profile .contact-icon li {
    margin-right: 25px;
}

#profile .contact-icon li:last-of-type {
    margin-right: 0;
}

#profile .contact-icon li:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#profile .contact-icon li i:focus {
    outline: 0;
}

#profile .portrait-title h2 {
    font-family: Stalemate, sans-serif;
    font-size: 5em;
}

#profile .portrait-title h3 {
    margin-top: -30px;
}

#about-content p:first-child::first-letter {
    font-size: 4.9em;
    float: left;
    margin: auto 0.2em auto auto;
    line-height: 1;
}