#about {
    padding-top: 10px;
    padding-bottom: 0px;
}

#profile ul.network-icon li {
    margin-right: 25px;
}

.site-footer {
    padding: 0px;
}

#navbar-main {
    box-shadow: none;
    border-color: white;
}


#blinking-cursor {
    animation: 1s cursor-blink step-end infinite;
    -webkit-animation: 1s cursor-blink step-end infinite;
    -moz-animation: 1s cursor-blink step-end infinite;
    -ms-animation: 1s cursor-blink step-end infinite;
    -o-animation: 1s cursor-blink step-end infinite;

    color: black;
}

@keyframes "cursor-blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-moz-keyframes cursor-blink {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-webkit-keyframes "cursor-blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-ms-keyframes "cursor-blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-o-keyframes "cursor-blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
    color: #0073A4;
}

a:hover {
    transition-property: background;
    transition-duration: 0.5s;

    -webkit-transition-property: background;
    -webkit-transition-duration: 0.5s;

    -moz-transition-property: background;
    -moz-transition-duration: 0.5s;

    -o-transition-property: background;
    -o-transition-duration: 0.5s;

    background-color: #F2F8FA;
}
