<link rel='preconnect' href='https://fonts.gstatic.com' />
<link href='https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap' rel='stylesheet' />

<link rel='stylesheet' href='/static/css/academicons.min.css' />
<script src='https://kit.fontawesome.com/099618725d.js' crossorigin='anonymous'></script>
<link href='/static/css/monokai.css' rel='stylesheet' />
<link href='/static/css/fonts.css' rel='stylesheet' />
<link href='/static/css/main.css' rel='stylesheet' />

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src='https://www.googletagmanager.com/gtag/js?id=UA-143791509-1'></script>
<script>
 // TODO: Don't even load the script for DNT enabled
 if (window.doNotTrack || navigator.doNotTrack || navigator.msDoNotTrack ||
     'msTrackingProtectionEnabled' in window.external) {
     if (window.doNotTrack == '1' || navigator.doNotTrack == 'yes' || navigator.doNotTrack == '1' ||
         navigator.msDoNotTrack == '1' || window.external.msTrackingProtectionEnabled()) {
         window['ga-disable-UA-143791509-1'] = true;
     }
 }

 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());
 gtag('config', 'UA-143791509-1');
</script>
