<li class="h-entry li">
    <span class="left p-name post-title no-text-decoration">
        <a class="u-url" href='{{ .Permalink }}'>{{ .Title }}</a>
    </span>

    <span class = "right">
        {{ with $year  := string .Date.Year }}
        {{ with $event := (index (index $.Site.Data.events $.Params.event) $year) }}
        <a class="conference" href="{{ $event.website }}">{{ $event.name }}'{{ substr $year 2}}</i></a>
        {{ end }}
        {{ end }}
    </span>

    <br />

    <span class="authors">
        {{ with .Params.Author }}
        {{ range $i, $e := . }}
        {{ if $i }}<span class="separator">  •  </span>{{ end }}
        <a href="{{ (index $.Site.Data.authors .).website }}">{{ (index $.Site.Data.authors .).name }}</a>
        {{ end }}
        {{ end }}
    </span>

    <br />

    <div class="left">
        <a title ="Paper" class="paper" href="/talks/{{ .Params.menu.main.identifier }}.pdf">
            ⇩
        </a>

        {{ with .Params.artifact }}
        <a title ="Artifact" class="artifact" href="{{ . }}">⧉</a>
        {{ end }}

        {{ with .Params.arxiv }}
        <a title ="arXiv" class="arxiv" href="https://arxiv.org/abs/{{ . }}">
            <i class="ai ai-arxiv"></i>
        </a>
        {{ end }}

        {{ with .Params.citations }}
        <a title="Citations" class="citations" href="{{ . }}">
            <i class="ai ai-google-scholar ai-x"></i>
        </a>
        {{ end }}
    </div>

    <div class="right">
        {{ with .Params.doi }}
        <a class="doi" title="DOI" href="https://dx.doi.org/{{ . }}">
            <i class="ai ai-doi ai-x"></i>
        </a>
        <small>{{ . }}</small>
        {{ end }}
    </div>

    <br />

    <div class="right">
        {{ partial "taxo-buttons.html" . }}
    </div>

    <div class="clear-float"></div>
</li>
